# 1. Force SQL to be detected and counted
*.sql linguist-detectable=true
*.sql linguist-language=SQL

# 2. Ignore ALL JSON files (Translations, package-lock, etc.)
*.json linguist-vendored

# 3. Ignore CSS/Styles from stats (Optional, helps SQL percentage rise)
*.css linguist-vendored
*.scss linguist-vendored

# 4. Ignore Config JS files (Boilerplate code)
vite.config.js linguist-vendored
postcss.config.js linguist-vendored
eslint.config.js linguist-vendored
tailwind.config.js linguist-vendored
backend/database.js linguist-vendored
backend/initialize-database.js linguist-vendored
