*.sql linguist-detectable=true
*.sql linguist-language=SQL

*.json linguist-vendored

*.css linguist-vendored
*.scss linguist-vendored

vite.config.js linguist-vendored
postcss.config.js linguist-vendored
eslint.config.js linguist-vendored
tailwind.config.js linguist-vendored
backend/database.js linguist-vendored
backend/initialize-database.js linguist-vendored
